/*
 * Hitchwiki Maps
 *
 * Contents:
 * 1) Misc
 * 2) Typography
 * 3) Buttons
 * 4) Icons
 * 5) Layout
 * 6) Map
 * 7) Cards
 * 8) jQuery UI tweaks
 * 9) Dev-tools
 *
 */



/* 
 * 1) Misc
 */
a img { border: 0; }
.align_right { float: right; }
.align_left { float: left; }


/* 
 * 2) Typography
 */

body, input, textarea, button, .button {
	font-size: 13px;
	line-height: 18px;
	color: #111;
	font-family: arial, helvetica, sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: #b76801;
}
a:active,
a:hover {
	color: #d7861d;
}

h1, h2, h3, h4 {	
	font-family: "Trebuchet MS", "Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
}

label {
	font-weight: bold;
}

.hitchability_question label {
	font-weight: normal;
	font-size: 12px;
}

ul.clean {
	padding: 10px 0;
	margin: 0;
	list-style: none;
}

ul.clean li {
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

table.infotable {
	border: 1px solid #cdb46f;
	border-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	table.infotable th,
	table.infotable td {
		border-bottom: 1px solid #cdb46f;
		padding: 5px;
	}
	table.infotable th {
		background-color: #eddeb6;
		text-align: left;
	}
	table.infotable#timing_list {
		width: 100%;
	}

.grey {
	color: #555;	
}
.tip, .light, .meta {
	color: #ad8c55;
}
.smaller, .meta, .tip {
	font-size: 11px;
	line-height: 11px;
}
.bigger {
	font-size: 16px;
}

.underline {
	border-bottom: 2px solid #111;
}
	.underline.hitchability_0 { border-color: #fff; }
	.underline.hitchability_1 { border-color: #00ad00; }
	.underline.hitchability_2 { border-color: #96ad00; }
	.underline.hitchability_3 { border-color: #ffff00; }
	.underline.hitchability_4 { border-color: #ff8d00; }
	.underline.hitchability_5 { border-color: #ff0000; }

	.hitchability_color_0 { color: #fff; }
	.hitchability_color_1 { color: #00ad00; }
	.hitchability_color_2 { color: #96ad00; }
	.hitchability_color_3 { color: #ffff00; }
	.hitchability_color_4 { color: #ff8d00; }
	.hitchability_color_5 { color: #ff0000; }
	
	.hitchability_color_0,
	.hitchability_color_1,
	.hitchability_color_2,
	.hitchability_color_3,
	.hitchability_color_4,
	.hitchability_color_5 {
		text-shadow: 0px 0px 2px #bdb7a4;
	}


hr {
	color: #c9ab22;
	background-color: #c9ab22;
	height: 1px;
	border: 0;
	padding: 0;
	margin: 15px 0;
	clear: both;
}


#registeration_note {
	display: block;
	padding: 15px 0;
	margin: 0;
	color: #c04306;
	font-weight: bold;
	font-style: italic;
}


/*
 * 3) Buttons
 */
 
.button,
button {
 	background-color: #eae3c1;
 	color: #684a02;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f1de), to(#d8cb95));
	background: -moz-linear-gradient(top,  #f4f1de,  #d8cb95);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f1de', endColorstr='#d8cb95');
}

input, textarea, button, .button {
	border: 1px solid #b29c49;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
textarea { width: 100%; }
input, textarea {
 	background-color: #fff;
}

textarea[disabled='disabled'],
input[disabled='disabled'] {
	border: 1px solid #d4c690;
 	background-color: #f2f1eb;
 	color: #877e5a;
}


#map_selector {
	z-index: 999 !important;
	font-size: 9px;
	line-height: 9px;
	font-weight: normal;
	float: left;
	width: 220px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 80px;
	right: 10px;
	text-align: left;
}
	#map_selector #selected_map {
		width: 100%;
		background: #e1ae32 url(../gfx/map_controller_bg.gif) left top repeat-x;
		font-weight: bold;
		color: #964602;
		border: 1px solid #c99416;
		border-top: 0;
		font-size: 9px;
		line-height: 9px;
		padding: 5px 0;
		overflow: hidden;
		text-shadow: 0px 1px 1px #e8c161;
		
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
	}
	#map_selector #maplist {
		margin: 0 4px;
		display: block;
		padding: 5px;
		display: none;
		z-index: 99997;
		background: #faf9f3;
		border: 1px solid #ccc4a0;
		border-top: 0;
	}
		#map_selector #maplist ul {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		#map_selector #maplist ul li {
			padding: 3px 5px;
			margin: 0;
			display: block;
			border-top: 1px solid #ccc4a0;
		}
		#map_selector #maplist ul li.first {
			border: 0;
		}
		#map_selector #maplist ul li a.selected {
			font-weight: bold;
			color: #46350b;
		}
		#map_selector #maplist ul li a {
			display: block;
			margin: 0;
		}

textarea.copypaste, 
input.copypaste {
	width: 100%;
	padding: 6px;
	font-size: 11px;
	line-height: 14px;
}


#select_description,
#select_description option {
	font-size: 11px;
	line-height: 11px;
	background-color: transparent;
	color: #ad8c55;
	border: 0;
}

.pstrength-minchar {
	font-size : 10px;
}


/*
 * 4) Icons
 */  
.icon {
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 4px;
	background-repeat: no-repeat;
	background-position: left center;
}
textarea.icon {
	width: auto;
	padding-left: 23px;
	padding-top: 3px;
	background-position: 3px 4px;
}
.icon_right {
	padding-right: 20px;
	padding-left: 0;
	background-position: right center;
}

.icon-osm 		{ background-image: url('../gfx/icons/osm.png') !important; }
.icon-google 	{ background-image: url('../gfx/icons/google.gif') !important; }
.icon-yahoo 	{ background-image: url('../gfx/icons/yahoo.png') !important; }
.icon-bing 		{ background-image: url('../gfx/icons/bing.gif') !important; }
.icon-ww 		{ background-image: url('../gfx/icons/nasa.png') !important; }

.icon.hitchability_0 	{ background-image: url(../gfx/icons/hitchability_0.png); }
.icon.hitchability_1 	{ background-image: url(../gfx/icons/hitchability_1.png); }
.icon.hitchability_2 	{ background-image: url(../gfx/icons/hitchability_2.png); }
.icon.hitchability_3 	{ background-image: url(../gfx/icons/hitchability_3.png); }
.icon.hitchability_4 	{ background-image: url(../gfx/icons/hitchability_4.png); }
.icon.hitchability_5 	{ background-image: url(../gfx/icons/hitchability_5.png); }

.icon.transportation_0 	{ background-image: url(../gfx/icons/transportation_0.png); }
.icon.transportation_1 	{ background-image: url(../gfx/icons/transportation_1.png); }
.icon.transportation_2 	{ background-image: url(../gfx/icons/transportation_2.png); }
.icon.transportation_3 	{ background-image: url(../gfx/icons/transportation_3.png); }
.icon.transportation_4 	{ background-image: url(../gfx/icons/transportation_4.png); }
.icon.transportation_5 	{ background-image: url(../gfx/icons/transportation_5.png); }
.icon.transportation_6 	{ background-image: url(../gfx/icons/transportation_6.png); }
.icon.transportation_7 	{ background-image: url(../gfx/icons/transportation_7.png); }
.icon.transportation_8 	{ background-image: url(../gfx/icons/transportation_8.png); }
.icon.transportation_9 	{ background-image: url(../gfx/icons/transportation_9.png); }
.icon.transportation_10	{ background-image: url(../gfx/icons/transportation_10.png); }
.icon.transportation_11	{ background-image: url(../gfx/icons/transportation_11.png); }
.icon.transportation_12	{ background-image: url(../gfx/icons/transportation_12.png); }
.icon.transportation_in-city	{ background-image: url(../gfx/icons/transportation_in-city.png); }
.icon.transportation_inter-city	{ background-image: url(../gfx/icons/transportation_inter-city.png); }

.icon.facebook 			{ background-image: url(../gfx/facebook_small.png); padding-left: 17px; }
.icon.gravatar 			{ background-image: url(../gfx/icons/gravatar.gif); }
.icon.magnifier 		{ background-image: url(../gfx/icons/magnifier.png); }
.icon.add 				{ background-image: url(../gfx/icons/add.png); }
.icon.chart_bar 		{ background-image: url(../gfx/icons/chart_bar.png); }
.icon.folder_database 	{ background-image: url(../gfx/icons/folder_database.png); }
.icon.folder 			{ background-image: url(../gfx/icons/folder.png); }
.icon.help 				{ background-image: url(../gfx/icons/help.png); }
.icon.link 				{ background-image: url(../gfx/icons/link.png); }
.icon.lock_go 			{ background-image: url(../gfx/icons/lock_go.png); }
.icon.lock 				{ background-image: url(../gfx/icons/lock.png); }
.icon.map_add 			{ background-image: url(../gfx/icons/map_add.png); }
.icon.map_delete 		{ background-image: url(../gfx/icons/map_delete.png); }
.icon.map_edit 			{ background-image: url(../gfx/icons/map_edit.png); }
.icon.map_go 			{ background-image: url(../gfx/icons/map_go.png); }
.icon.map_magnify 		{ background-image: url(../gfx/icons/map_magnify.png); }
.icon.map 				{ background-image: url(../gfx/icons/map.png); }
.icon.table_add 		{ background-image: url(../gfx/icons/table_add.png); }
.icon.table	 			{ background-image: url(../gfx/icons/table.png); }
.icon.tag 				{ background-image: url(../gfx/icons/tag.png); }
.icon.world 			{ background-image: url(../gfx/icons/world.png); }
.icon.zoom 				{ background-image: url(../gfx/icons/zoom.png); }
.icon.zoom_in 			{ background-image: url(../gfx/icons/zoom_in.png); }
.icon.zoom_out			{ background-image: url(../gfx/icons/zoom_out.png); }
.icon.cancel 			{ background-image: url(../gfx/icons/cancel.png); }
.icon.accept 			{ background-image: url(../gfx/icons/accept.png); }
.icon.wrench 			{ background-image: url(../gfx/icons/wrench.png); }
.icon.lorry 			{ background-image: url(../gfx/icons/lorry.png); }
.icon.cursor 			{ background-image: url(../gfx/icons/cursor.png); }
.icon.shape_handles 	{ background-image: url(../gfx/icons/shape_handles.png); }
.icon.vector 			{ background-image: url(../gfx/icons/vector.png); }
.icon.new 				{ background-image: url(../gfx/icons/new.png); }
.icon.comment 			{ background-image: url(../gfx/icons/comment.png); }
.icon.comments 			{ background-image: url(../gfx/icons/comments.png); }
.icon.tux 				{ background-image: url(../gfx/icons/tux.png); }
.icon.user_orange 		{ background-image: url(../gfx/icons/user_orange.png); }
.icon.users 			{ background-image: url(../gfx/icons/users.png); }
.icon.user 				{ background-image: url(../gfx/icons/user.png); }
.icon.page_white_put 	{ background-image: url(../gfx/icons/page_white_put.png); }
.icon.building		 	{ background-image: url(../gfx/icons/building.png); }
.icon.calendar_view_day	{ background-image: url(../gfx/icons/calendar_view_day.png); }
.icon.time				{ background-image: url(../gfx/icons/time.png); }
.icon.underground 		{ background-image: url(../gfx/icons/underground.png); }




/* 
 * 5) Layout
 */


html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #e7e2c9;
}


#Header {
	margin: 0;
	padding: 5px 10px 5px 10px;
	height: 70px; 
	overflow: hidden;
	min-width: 990px;
	background: #edca50 url(../gfx/bg.png) repeat-x left bottom;
	text-shadow: 0px 1px 1px #ffe998;
}
	#Header #Logo {
		float: left;
		overflow: hidden;
		padding: 12px 0 0 47px;
		background: transparent url(../gfx/hitchwiki.png) no-repeat;
	}
	#Header h1 span {
		position: absolute;
		top: -1000px;
	}
	#Header h1 a {
		display: block;
		width: 105px;
		height: 25px;
	}
	#Header h1 {
		float: left;
		padding: 0 10px 0 0;
		margin: 0 10px 0 0;
		border-right: 1px solid #c9ab22;
		/*
		font-size: 25px;
		line-height: 25px;
		color: #764300;
		*/
	}
	#Header h2 {
		float: left;
		padding: 0 10px 0 0;
		margin: 0;
		color: #9d8100;
		font-size: 25px;
		line-height: 25px;
	}
	#Header h3 {
		color: #937b1f;
		font-size: 13px;
		clear: both;
		padding: 10px 0 0 0;
	}
	#Header .Navigation {
		font-size: 12px;
		line-height: 12px;
		color: #cfbb5d;
		float: left;
		padding: 9px 0 0 12px;
		margin: 0 0 0 0;
	}

	#LoginNavi {
		float: right;
	}
		#LoginNavi #Hello {
			display: block;
			padding-top: 25px;
			font-style: italic;
			color: #9d8100;
		}
		#LoginNavi #loginSidemenu {
			padding: 13px 10px 3px 20px;
			margin: 0 0 0 20px;
			border-left: 1px solid #c9ab22;
			list-style: none;
			font-size: 11px;
		}
		#LoginNavi #loginOpener {
			padding: 5px 10px 10px 30px;
			font-size: 13px;
			font-weight: bold;
			border: 1px solid transparent;
			border-bottom: 0;
			position: absolute;
			top: 20px;
			right: 141px;
			background-position: 8px 6px;
			z-index: 99999;
			
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		#LoginNavi #loginOpener.open {
			background-color: #e4b330;
			border: 1px solid #ca940f;
			color: #000;
			border-bottom: 0;
		}
		
		#loginPanel {
			position: absolute;
			background: #f2d871 url(../gfx/login_bg.gif) repeat-x;
			border: 1px solid #ca940f;
			padding: 10px;
			width: 200px;
			top: 53px;
			right: 141px;
			z-index: 99998;
			font-size: 12px;
			line-height: 15px;
			
			-webkit-border-radius: 5px;
			-webkit-border-top-right-radius: 0;
			-moz-border-radius: 5px;
			-moz-border-radius-topright: 0;
			border-radius: 5px;
			border-top-right-radius: 0;
		}
		#loginPanel #email,
		#loginPanel #password {
			width: 100%;
		}
		#loginPanel #rememberMeRow {
			font-size: 11px;
			line-height: 11px;
			display: block;
			padding-bottom: 10px;
		}
		#loginPanel #login_meta {
			display: block;
			border-top: 1px solid #ca940f;
			padding-top: 5px;
			clear: both;
		}
		#loginPanel .loading {
			display: none;
			padding: 30px 0;
			background: url(../gfx/loading.gif) center center no-repeat;
		}


#Sidebar {
	width: 170px;
	float: left;
}

ul#Navigation {
	padding: 0;
	margin: 0;
	list-style: none;
}
	ul#Navigation li {
		display: block;
		padding: 5px 0;
		margin: 0;
		background: #faf9f3;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc4a0;
	}
	ul#Navigation li ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul#Navigation li ul li {
		border: 0;
		display: block;
		padding: 3px 10px;
		margin: 0;
		background: transparent;
		list-style: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	ul#Navigation li ul li ul {
		margin: 0 0 0 5px;
		padding: 0;
	}
	ul#Navigation li ul li ul li {
		margin: 0 0 2px 10px;
		padding: 0;
	}
	ul#Navigation li ul li ul li:before {
		content: "› "; /* &rsaquo; */
	}
	
	ul#Navigation #search_form {
		display: block;
		padding: 0 0 5px 0;
	}
	
	ul#Navigation #search #q {
		display: block;
		float: left;
		width: 100px;
		line-height: 13px;
		font-size: 13px;
		margin: 0;
		height: 14px;
		padding: 2px 4px;
		border-right: 0;
		-webkit-border-top-right-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	ul#Navigation #search .search_submit {
		display: block;
		float: left;
		border-left: 0;
		margin: 0;
		height: 20px;
		padding: 2px 0 2px 7px;
		font-size: 13px;
		line-height: 13px;
		-webkit-border-top-left-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	
	#Sidebar h3 {
		padding: 0;
		margin: 0;
	}
	
	/*
	ul#Navigation li ul li { border-bottom: 1px solid #c0b78b; }
	ul#Navigation li ul li { border-top: 1px solid #fff; }
	*/
	
	
#Footer {
	font-size: 11px;
	line-height: 15px;
	padding: 10px;
	overflow: hidden;
	text-align: center;
}
	#Footer ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#Footer ul li:before {
		content: "";
	}

	#Footer ul li {
		padding: 0 0 10px 0;
	}
	#Footer,
	#Footer a:link,
	#Footer a:visited,
	#Footer a:active,
	#Footer a:hover {
		color: #ad8c55;
		text-decoration: none;
	}
	#Footer a:active,
	#Footer a:hover {
		color: #986d27;
	}


#nearby ul li {
	font-size: 11px;
	line-height: 14px;
}
	#nearby ul li {
		padding-bottom: 2px;
	}


#toolsPanel {
	display: block;
	text-align: left;
	position: absolute;
	padding: 0 7px 7px 7px;
	margin: 0;
	width: 230px;
	background: #edca50 url(../gfx/bg.png) repeat-x left bottom;
	color: #000;
	font-size: 11px;
	border: 1px solid #c9ab22;
	border-bottom: transparent;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
  	box-shadow: 0px 0px 5px #ccc;
  	-moz-box-shadow: 0px 0px 5px #ccc;
  	-webkit-box-shadow: 0px 0px 5px #ccc;
}
	#toolsPanel ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	#toolsPanel h4 {
		display: block;
		border-bottom: 1px solid #c9ab22;
		margin: 0 0 7px 0;
		color: #000;
		cursor: move;
	}
	#toolsPanel #zoom_slider {
		margin: 3px 7px;
	}
	#toolsPanel hr {
		color: #c9ab22;
		background-color: #c9ab22;
		height: 1px;
		border: 0;
		padding: 0;
		margin: 5px 0;
		clear: both;
	}


code.example {
	display: block;
	margin: 5px 0;
	padding: 10px;
	border: 1px #c9ab22;
	background: #fff;
}

.highlight {
	background-color: #ffed89;
}



#PlacePanel {
	overflow-x: hidden;
	display: block;
	width: 250px;
	padding: 0;
	position: absolute;
	top: 80px;
	bottom: 0;
	right: 0;
	background: #faf9f3;
	border-left: 1px solid #ccc4a0;
}
	#PlacePanel #write_comment { width: 185px; }
	#PlacePanel .copypaste { width: 200px; background: transparent; color: #413914; }
	#PlacePanel .copypaste:hover { border-color: #81722f; }
	

#loading-bar {
	display: block;
	position: absolute;
	z-index: 99999;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	height: 19px;
	width: 220px;
	padding: 22px 4px 0 4px;
	margin: auto;
	text-align: center;
	background: #fff url(../gfx/loading.gif) center 4px no-repeat; /* img size: 220 x 19 px */
/*	border: 1px solid #ccc4a0; */

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
  	box-shadow: 0px 0px 5px #ccc;
  	-moz-box-shadow: 0px 0px 5px #ccc;
  	-webkit-box-shadow: 0px 0px 5px #ccc;
}
	#loading-bar .title {
		font-style: italic;
		color: #757575;
	}


ul li ul li #comments ol {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}
ul li ul li #comments ol li {
	list-style: none;
	padding: 0 10px 10px 10px;
	margin: 5px 0;
	border: 1px solid #c9ab22;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul li ul li #comments ol li.own_comment {
	border-color: #dc8310;
}



/*
 * 6) Map
 */ 

#map {
	border-left: 1px solid #c0b78b;
	background-color: #93b3cd;
	color: #e5f0f9;
	text-align: center;

	position: absolute; 
	top: 80px; 
	left: 170px; 
	right: 0; 
	bottom: 0;

	min-width: 630px;
	min-width: 630px;
	/*
	width: auto; 
	height: auto; 
	height: 500px;
	width: 500px;
	*/
}

.olControlOverviewMapElement {
	padding: 5px 18px 5px 5px !important;
	background-color: #e7e2c9 !important;
	border-top: 1px solid #c0b78b !important;
	border-left: 1px solid #c0b78b !important;
	
	-webkit-border-radius: 5px 0 0 0 !important;
	-moz-border-radius: 5px 0 0 0 !important;
	border-radius: 5px 0 0 0 !important;
}

.layerswitcher,
#layerswitcher {
	background-color: #e7e2c9 !important;
	border: 1px solid red !important;
}


/*
 * 7) Cards and Pages
 */ 

#cards {
	/* Area size should be same as #map */
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 170px;
	right: 0;
}

.page {
	position: absolute;
	text-align: left;
	padding: 40px 30px;
	top: 90px;
	left: 180px;
	bottom: 10px;
	right: 10px;
	min-width: 800px;
	overflow: auto;
	z-index: 9998;
	border: 1px solid #c0b78b;
	background-color: #faf9f3;
	
  	box-shadow: 0px 0px 5px #ccc;
  	-moz-box-shadow: 0px 0px 5px #ccc;
  	-webkit-box-shadow: 0px 0px 5px #ccc;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pages .close {
    position: absolute;
    top: 100px;
    right: 30px;
	z-index: 9999;
}




/*
 * 8) jQuery UI tweaks
 */
.ui-dialog-content {
	font-size: 12px;
	line-height: 15px;
}

.ui-dialog-content {
	padding: 0;
}

.ui-tabs-panel {
	margin: 0 !important;
	padding: 5px !important;
}

.ui-dialog-content {
	margin: 0 !important;
	overflow-x: hidden !important;
}

.ui-widget-header {

}
.ui-dialog-title {
	font-size: 12px !important;
	line-height: 15px !important;
}

.ui-tabs-nav {
	background: #eee !important;
	border: 1px solid #ccc !important;
}

/* overrides for ui-tab styles */
ul.ui-tabs-nav { padding:0 0 0 8px; }
.ui-tabs-nav li { margin:5px 5px 0 0; }

.ui-tabs-nav li a:link,
.ui-tabs-nav li a:visited,
.ui-tabs-nav li a:hover,
.ui-tabs-nav li a:active { font-size:11px; padding:4px 1.2em 3px; color:#e9af6d; padding: 3px; }

.ui-tabs-nav li.ui-tabs-selected a:link,
.ui-tabs-nav li.ui-tabs-selected a:visited,
.ui-tabs-nav li.ui-tabs-selected a:hover,
.ui-tabs-nav li.ui-tabs-selected a:active { color:#e6820E; border-bottom: 2px solid #fff; }

.ui-tabs-panel { padding:20px 9px; font-size:12px; line-height:1.4; color:#000; }

.ui-widget-content a:link,
.ui-widget-content a:visited { color:#1b75bb; text-decoration:none; }
.ui-widget-content a:hover,
.ui-widget-content a:active { color:#0b559b; }

.ui-datepicker {
	font-size: 80% !important;
}

/* To help resizable() textarea */
.ui-resizable-se {
    bottom: 17px;
    right: 5px;
}



/*
 * 9) Dev-tools
 */

#log { 
	display: block;
	background: #000;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	font-family: Courier,serif;
	padding: 0;
	margin: 0;
	width: 400px;
	height: 320px;
	max-height: 620px;
	max-width: 700px;
}
	#log .handle {
		display: block;
		height: 10px;
		padding: 5px;
		background: #003460;
		color: #fff;
		cursor: move;
	} 
	#log ul {
		padding: 10px;
		margin: 0;
		display: block;
		width: 380px;
		height: 280px;
		max-height: 580px;
		max-width: 680px;
		overflow-y: auto;
		overflow-x: hidden;
		
	}
	#log li {
		list-style: square;
		padding: 2px 0;
		margin: 0 0 0 10px;
	} 



/* Misc * extras */
.clear { clear: both; }
.hidden { display: none; }
